
{{{navigate}}}
{{{header}}}
<selection class="main">
    <main>

    </main>
</selection>

<script>
    let clients = [
        {{#each dataclients}}
           "{{dataValues.nome}}"
        {{/each}}
    ]
    let forms = [`{{{formCadastreClients}}}`]
</script>
<script>
{{#each styles}}
    $("head").append(`<link rel="stylesheet" href="{{css}}">`)
{{/each}}

{{#each scripts}}
    $("body").append(`<script src="{{js}}">`)
{{/each}}
</script>