
{{{navigate}}}
{{{header}}}
<section class="main">
    <main>

    </main>
</section>

<script>
    let clients = [
        {{#each dataclients}}
        {
            id:"{{dataValues.id}}",
            nome:"{{dataValues.nome}}",
            email:"{{dataValues.email}}",
            telefone:"{{dataValues.telefone}}",
            endereco:"{{dataValues.endereco}}",
            cpf:"{{dataValues.cpf}}",
            cep:"{{dataValues.cep}}"
        },
           
        {{/each}}
    ]
    let forms = [`{{{formCadastreClients}}}`]
</script>
<script>
    {{#each styles}}
        $("head").append(`<link rel="stylesheet" href="{{css}}">`)
    {{/each}}

    if(checkDevice()){
        {{#each stylesMobile}}
        $("head").append(`<link rel="stylesheet" href="{{css}}">`)
        {{/each}}
    }

    {{#each scripts}}
        $("body").append(`<script src="{{js}}">`)
    {{/each}}
</script>